.border-radius {
    border-radius: 19px;
}

.btn-size {
    width: 96px;
    height: 38px;
}

.modal {
    .text-color {
        color: #373A3C;
    }

}

.btn-style {
    border-radius: 26px;
    width: 100%;
}

.m-footer {
    margin-bottom: 32px;
}

.margin-right-180 {
    margin-right: 180px;
}

.funding-padding {
    padding-right: 36px;
    padding-top: 13.9px;
    padding-bottom: 14px;
}

.share-btn {
    padding-left: 54px;
    padding-right: 54px;
    border-radius: 26px;
}

.nav-tabs {
    .nav-link.active {
        border-color: transparent;
        border-bottom: 2px solid #FFDF65;
        font-weight: 700;

    }
}

.funding-btn {
    padding-top: 9.1px;
    padding-bottom: 8px;
}

.fs-sm-5 {
    font-size: 18px;
}

.tracking-btn {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 26px;
    margin-bottom: auto;
}

.margin-bottom-34 {
    margin-bottom: 34px;
}

.btn-margin-lf {
    margin-left: 1rem;
}

.btn-font-si {
    font-size: 0.875rem;
}

.nav-hg {
    height: 52px;
}

.form-select {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    color: #999999;
}

.form-control {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
}

.form-label {
    color: #373A3C;
}

.submit-btn {
    padding: 11px 48.1px;
}

.facebook-icon {
    margin: 0 0.5rem 1rem 1rem;
}

.slogan-p {
    padding-top: 6px;
    padding-bottom: 5px;
}

.btn-sponsor {
    border-radius: 19px;
    padding-top: 9px;
    padding-bottom: 12px;
    line-height: 21px;
    letter-spacing: 1.1px;
}

.bg-lightgary {
    background-color: #E8E8DB;
}

.footer {
    background-color: #494846;
    padding: 32px 0;
}

@media (min-width: 576px) {
    .ml-md-7 {
        margin-left: 7rem;
    }

    .funding-btn {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .fs-sm-5 {
        font-size: 20px;
    }

    .tracking-btn {
        padding-left: 80px;
        padding-right: 80px;
    }

    .letter-sp {
        letter-spacing: 2px;
    }

    .btn-margin-lf {
        margin-left: 4rem;
    }

}

@media (min-width: 768px) {
    .btn-font-si {
        font-size: 1rem;
    }

    .nav-hg {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .margin-bottom-34 {
        margin-bottom: 47.9px;
    }

    .tracking-btn {
        padding-left: 34px;
        padding-right: 34px;
    }

    .btn-margin-lf {
        margin-left: 5.25rem;
    }
}

@media (min-width: 1200px) {
    .tracking-btn {
        padding-left: 80px;
        padding-right: 80px;
    }


}