.border-radius {
    border-radius: 19px;
}

.w-vh-24 {
    width: 24vh;
}

.modal {
    .text-color {
        color: #373A3C;
    }

}

.btn-style {
    border-radius: 26px;
    width: 100%;
}

.rounded-4 {
    border-radius: 26px;
}

.m-footer {
    margin-bottom: 32px;
}

.margin-right-180 {
    margin-right: 180px;
}

.funding-padding {
    padding-right: 36px;
    padding-top: 13.9px;
    padding-bottom: 14px;
}

.tooltip-demo {
    a {
        white-space: nowrap;
        // cursor: default;
    }
}

.share-btn {
    border-radius: 26px;
}

.nav-tabs {
    .nav-link.active {
        border-color: transparent;
        border-bottom: 2px solid #FFDF65;
        font-weight: 700;

    }
}

.fs-sm-5 {
    font-size: 18px;
}

.margin-bottom-34 {
    margin-bottom: 34px;
}

.btn-margin-lf {
    margin-left: 1rem;
}

.btn-font-si {
    font-size: 0.875rem;
}

.nav-hg {
    height: 52px;
}

.form-select {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    color: #999999;
}

.form-control {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
}

.form-label {
    color: #373A3C;
}

.facebook-icon {
    margin: 0 0.5rem 1rem 1rem;
}

.slogan-p {
    padding-top: 6px;
    padding-bottom: 5px;
}

.top-card {
    top: 60px;
}

.h-sticky-card {
    height: calc(100vh - 60px);
}

.btn-sponsor {
    border-radius: 19px;
    padding-top: 9px;
    padding-bottom: 12px;
    line-height: 21px;
    letter-spacing: 1.1px;
}

.bg-lightgary {
    background-color: #E8E8DB;
}

.footer {
    background-color: #494846;
    letter-spacing: 0.17px;
}

.btn-warning:hover {
    color: #FFFFFF !important;
    background-color: #FF785E;
    border-color: #FF785E;

}

.btn-outline-secondary:hover {
    color: #858377 !important;
    background-color: #FFDF65;
    border-color: #FFDF65;

    .bi {
        color: #FF785E;
    }
}

.d-no {
    display: none;
}


@media (min-width: 576px) {
    .ml-md-7 {
        margin-left: 7rem;
    }

    .fs-sm-5 {
        font-size: 20px;
    }

    .letter-sp {
        letter-spacing: 2px;
    }

    .btn-margin-lf {
        margin-left: 4rem;
    }

}

@media (min-width: 768px) {
    .btn-font-si {
        font-size: 1rem;
    }

    .nav-hg {
        height: 70px;
    }

    .w-md-60 {
        width: 60% !important;
    }

    .w-md-35 {
        width: 35% !important;
    }

    .submit-btn {
        width: auto !important;
        padding: 0.75rem 3rem;
        font-size: 1.25rem !important;
    }

    .footer {
        letter-spacing: 0.2px !important;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .margin-bottom-34 {
        margin-bottom: 47.9px;
    }

    .btn-margin-lf {
        margin-left: 5.25rem;
    }
}